STRIPE_SECRET_KEY=your-stripe-key
NEXT_PUBLIC_BASE_URL=your-website-url
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your-clerk-public-key
CLERK_SECRET_KEY=your-clerk-key
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
PORT=port

# PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/dbname?schema=public